.top-app-bar-container{
    height: 35px;
    border-radius: 0px 0px 25px 25px;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.top-toolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1120px;
}
.iconeWhats{
    margin-right: 5px;
    font-size: 14px!important;
}
.botoes-top{
    font-size: 12px!important;
    color: white!important;
}

/* 2 parte do navbar */
.app-bar-container{
    display: flex;
    justify-content: center;
    align-items: center; 
    /* background-color: aliceblue!important;
    color: #222!important; */
}
.header-toolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1120px;
}

.icones{
    margin-right: 25px;
    margin-left: 5px;
}

.nav-botoes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1120px;
}
.botao-nav{
    margin-right: 64px!important;
}